annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.0
attrs==25.4.0
autobahn==25.12.2
automat==25.4.16
backoff==2.2.1
bandit==1.9.3
cbor2==5.8.0
certifi==2026.1.4
cffi==2.0.0
channels==4.3.2
channels-redis==4.3.0
charset-normalizer==3.4.4
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
django==6.0.1
django-cors-headers==4.9.0
django-stubs==5.2.8
django-stubs-ext==5.2.8
djangorestframework==3.16.1
flake8==7.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
imageio==2.37.3
incremental==24.11.0
kafka-python==2.3.0
lazy-loader==0.5
lz4==4.4.5
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.2
networkx==3.6.1
numpy==2.5.1
packaging==25.0
pillow==12.1.0
pip==25.2
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.12.5
pydantic-core==2.41.5
pyflakes==3.4.0
pygments==2.19.2
pyopenssl==25.3.0
python-decouple==3.8
pyyaml==6.0.3
redis==7.1.0
requests==2.32.5
rich==14.3.0
ruff==0.14.14
scikit-image==0.26.0
scipy==1.18.0
service-identity==24.2.0
sqlparse==0.5.5
stevedore==5.6.0
tifffile==2026.6.1
twisted==25.5.0
txaio==25.12.2
types-channels==4.3.0.20250822
types-pyyaml==6.0.12.20250915
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
ujson==5.11.0
urllib3==2.6.3
zope-interface==8.1.1
